.breadcrumbs {
  color: $dark-grey-color;
  font-size: 1.4rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  &__item-title {
    width: 200px;
    font-weight: bold;
    margin-right: 0.5rem;
  }

  &__item-list {
    grid-column: span 4;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  &__item {
    padding: 0 0.5rem;
  }

  &__item-division {
    display: none;
    margin-left: 0.5rem;
  }
}
