.item__content {
  background-color: white;
  padding: 3rem;
  margin-top: 1.5rem;
  color: $dark-color;
  border-radius: 8px;
  min-height: 70vh;
}
.item__info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}
.item__image {
  text-align: center;
  justify-self: center;
  grid-column: span 2;

  & img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.item__checkout {
  width: 100%;

  text-align: left;
  margin-top: 2rem;
}
.checkout {
  font-size: 1.4rem;
  &__title {
    font-size: 2rem;
    margin-top: 1rem;
  }
  &__price {
    margin: 1.5rem 0;
    font-size: 3rem;
    font-weight: 300;
    display: flex;
    align-items: flex-start;

    &--decimal {
      font-size: 1.5rem;
      margin: 0.2rem 0 0 0.5rem;
    }
  }
}

.item__description {
  width: 80%;
  &-title {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  &-text {
    font-size: 1.3rem;
    color: $dark-grey-color;
  }
}
